/* QUESTIONS SECTION */

/* QUESTIONS SECTION */

.questionSectionContainer{
    background-color: #ffC600;
    width: auto;
    height: 500px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionSectionContainer h2 {
    margin-bottom: 20px;
    color: #292e47;
    font-size: 40px;
}

.questionSectionContainer p {
    font-size: 17px;
    color: #6b708d;
}

.suscribeBtn {
    padding: 20px 40px;
    background-color: #072ac8;
    font-size: 17px;
    border: none;
    color: #fff;
    margin-left: 5px;
}
.submitSuscribe {
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
}

    .input {
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: #ecf7ff;
    color: #6b708d;
    padding-left: 20px;

}
.submitSuscribe input {
    
    font-size: 17px;
    border: none;
    padding: 20px 40px;
    background-color: #ecf7ff;
    color: #292e47;
    width: 393px;
}

@media(max-width: 1150px) {

    .questionSectionContainer{
        
        
        margin: 50px;
       
    }

    
}





@media(max-width:768px) {

    .questionSectionContainer{
        background-color: #ffC600;
        width: auto;
        height: 500px;
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    .submitSuscribe {
        margin-top: 30px;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .submitSuscribe input {
        font-size: 17px;
        padding: 20px 40px;
        width: 250px;
    }

    .questionSectionContainer h2 {
        margin-bottom: 20px;
        font-size: 25px;
    }

    .questionSectionContainer{
        margin: 20px;
    }

    .suscribeBtn {
        padding: 20px 40px;
        font-size: 17px;
        margin-left: 0px;
        margin-top: 5px;
    }

}

