@import "./navBar.css";
@import "./clientSection.css";
@import "./footer.css";
@import "./heroSection.css";
@import "./html2.css";
@import "./html3.css";
@import "./ourServicesSection.css";
@import "./questionsSection.css";
@import "./testimonialSection.css";
@import "./theProjectsSection.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
    
}


body {
    background-color: #F2F4FC;
    
}









