/* TESTIMONIAL SECTION */

/* TESTIMONIAL SECTION */

.testimonialSectionContainer {
  background-color: #292e47;
  min-height: 500px;
  background-image: url("../FOTOS/testimonial section/orbit.png");
  background-size: contain;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}

.testimonialSectionText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonialSectionText h2 {
  color: #ecf7ff;
  font-size: 40px;
  text-align: center;
}

.testimonialSectionText p {
  color: #ffc600;
  font-size: 24px;
  line-height: 160%;
  font-weight: 500;
  text-align: center;
  margin: 50px;
}
/* como hacer para que la imagen no se distorcione */

.kristinWatson {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.kristinWatson img {
  width: auto;
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 10px;
  object-fit: cover;
}

.clientName {
  color: #a2d6f9;
  font-size: 17px;
}

.booking {
  color: #ecf7ff;
  font-size: 13px;
}
.memoji1 {
  width: 120px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  animation: memoji 5s ease-in-out infinite;
}
.memoji2 {
  width: 120px;
  position: absolute;
  top: 30px;
  left: 30px;
  animation: memoji 5s ease-in-out infinite;
}
.memoji3 {
  width: 120px;
  position: absolute;
  right: 30px;
  top: 30px;
  animation: memoji 5s ease-in-out infinite;
}
.memoji4 {
  width: 120px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  animation: memoji 5s ease-in-out infinite;
}

@keyframes memoji {
  0% {
    filter: drop-shadow(#000 0px 5px 15px 0px);
    width: 150px;
  }
  50% {
    filter: drop-shadow(#000 0px 25px 15px 0px);
    width: 100px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  }
  100% {
    filter: drop-shadow(#000 0px 5px 15px 0px);
    width: 150px;
    filter: drop-shadow(5px 5px 5px #000);
  }
}

@media (max-width: 1150px) {
  .testimonialSectionText {
    margin-top: 80px;
  }

  .testimonialSectionText h2 {
    font-size: 30px;
    margin-top: 0px;
  }

  .testimonialSectionText p {
    font-size: 20px;

    font-weight: 500;
    text-align: center;
    margin: 20px;
  }

  .testimonialSectionContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
  }

  @keyframes memojiR {
    0% {
      filter: drop-shadow(#000 0px 5px 15px 0px);
      width: 120px;
    }
    50% {
      filter: drop-shadow(#000 0px 25px 15px 0px);
      width: 100px;
      -webkit-filter: drop-shadow(5px 5px 5px #222);
    }
    100% {
      filter: drop-shadow(#000 0px 5px 15px 0px);
      width: 120px;
      filter: drop-shadow(5px 5px 5px #000);
    }
  }

  .memoji1 {
    width: 120px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    animation: memojiR 5s ease-in-out infinite;
  }
  .memoji2 {
    width: 120px;
    position: absolute;
    top: 30px;
    left: 30px;
    animation: memojiR 5s ease-in-out infinite;
  }
  .memoji3 {
    width: 120px;
    position: absolute;
    right: 30px;
    top: 30px;
    animation: memojiR 5s ease-in-out infinite;
  }
  .memoji4 {
    width: 120px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    animation: memojiR 5s ease-in-out infinite;
  }
}

@media (max-width: 768px) {
  .testimonialSectionContainer {
    background-color: #292e47;

    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 100px;
    padding-bottom: 200px;
  }

  .testimonialSectionText h2 {
    color: #ecf7ff;
    font-size: 30px;
    text-align: center;
    margin-top: 150px;
  }

  .testimonialSectionText p {
    color: #ffc600;
    font-size: 24px;
    line-height: 160%;
    font-weight: 500;
    text-align: center;
    margin: 25px;
    margin-top: 35px;
  }

  .kristinWatson {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .memoji1,
  .memoji2,
  .memoji3,
  .memoji4 {
    display: none;
  }

  .testimonialSectionText h2 {
    font-size: 35px;
  }

  .testimonialSectionText p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 22px;
  }

  .testimonialSectionContainer {
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 100px;
  }
}
